  <div class="row">        <!-- first two days -->
    <div class="col-md-6"> <!-- left column -->
      <h3>Day 1 - March 13</h3>
      <table class="table table-striped">
        <tr>               <!-- row 2   -->
          <td>10:00am - 10:30am</td>        <!-- time    -->
          <td>Workshop Introduction</td>        <!-- content -->
        </tr>
        <tr>               <!-- row 3   -->
          <td>10:30am - 12:00pm</td>        <!-- time    -->
          <td><a href="https://datacarpentry.org/python-ecology-lesson/01-short-introduction-to-Python.html">Introduction to Python</a>, <a href="https://datacarpentry.org/python-ecology-lesson/instructor/02-starting-with-data.html">Starting with Data</a></td>        <!-- content -->
        </tr>
        <tr>               <!-- row 4   -->
          <td>12:00pm - 1:00pm</td>        <!-- time    -->
          <td>Python User Group Meeting & Lunch</td>        <!-- content -->
        </tr>
       <tr>               <!-- row 5   -->
          <td>1:00pm - 3:30pm</td>        <!-- time    -->
          <td><a href="https://datacarpentry.org/python-ecology-lesson/instructor/03-index-slice-subset.html">Indexing, Slicing and Subsetting DataFrames in Python</a>, <a href="https://datacarpentry.org/python-ecology-lesson/instructor/04-data-types-and-format.html">Data Types and Formats</a></td>        <!-- content -->
        </tr>
      </table>
    </div>
    <div class="col-md-6"> <!-- right column -->
      <h3>Day 2 - March 14</h3>
      <table class="table table-striped">
        <tr>               <!-- row 1   -->
          <td>10:00am - 10:15am</td>        <!-- time    -->
          <td>Welcome back</td>        <!-- content -->
        </tr>
        <tr>               <!-- row 2   -->
          <td>10:15am - 12:00pm</td>        <!-- time    -->
          <td><a href="https://datacarpentry.org/python-socialsci/13-matplotlib.html">Data visualisation using Matplotlib</a></td>        <!-- content -->
        </tr>
        <tr>               <!-- row 3   -->
          <td>12:00pm - 1:00pm</td>        <!-- time    -->
          <td>Lunch Break</td>        <!-- content -->
        </tr>
        <tr>               <!-- row 2   -->
          <td>1:00pm - 3:30pm</td>        <!-- time    -->
          <td><a href="https://datacarpentry.org/python-ecology-lesson/instructor/06-loops-and-functions.html">Data Workflows and Automation</a>, Review, Next Steps</td>        <!-- content -->
        </tr>
        <tr>               <!-- row 2   -->
          <td>3:30pm - 4:00pm</td>        <!-- time    -->
          <td>Wrap-up / Q&A</td>        <!-- content -->
        </tr>
      </table>
    </div>
  </div>
